.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    box-shadow: 10px 10px 0px #FFF;
    width: 280px;
    height: 280px;
}

.card-project.-blue {
    background-color: cornflowerblue;
}

.section.-bgBlack {
    background-color: #000;
}

.section.-bdFirst {
    border-color: #bb114d;
}

.section.-bdSecond {
    border-color: #ac52cb;
}